@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/pretendard_medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/pretendard_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/pretendard_semibold.otf') format('opentype');
  font-weight: semibold;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1;
  background-color: #F2F2F2;
  /* 폰트 패밀리를 지정합니다. */
  font-family:
          'Pretendard',
          system-ui,
          -apple-system, /* Firefox supports this but not yet `system-ui` */
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji';
}

.body {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 52px;
}

.main {
  width: 36.6rem;
  max-height: calc(100vh - 104px);
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-y: auto;
}