@font-face {
    font-family: 'Pretendard';
    src: url('../public/styles/fonts/pretendard_light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../public/styles/fonts/pretendard_bold.otf') format('opentype');
    font-weight: bold;
}

