.body {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    margin-top: 52px;
}

.main {
    width: 36.6rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin-top: 24px;
}


@media (max-width: 1200px) {
    .navi {
        display: none;
    }
}


