.main::-webkit-scrollbar {
    display: none;
}

.post {
    margin-bottom: 24px;
}


@media (max-width: 1200px) {
    .navi {
        display: none;
    }
}

.PostDetailModal {
    /* Your styles for the modal content */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .PostDetailCloseButton {
    /* Your styles for the close button */
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .post-button-container {
    width: 100%;
    margin-bottom: 2rem;
  }


