.post {
    width: 100%;
    border-radius: 12px;
    background-color: white;
    padding: 4px 16px;
}

.post-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-header {
    align-items: center;
    display: flex;
    padding: 4px 0;
}

.post-info-body {
    display: flex;
    flex-direction: column;
    margin-left: 0.62rem;

}

.post-user-image {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.post-content-info {
    display: flex;
    flex-direction: row;
}

.post-body {
    width: 100%;
    padding: 12px 1rem;
    display: flex;
    flex-direction: column;
}

.post-username {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;

}

.post-topic {
    font-size: 12px;
    margin-bottom: 4px;
    color: #8E8E8E;
}

.post-title {
    font-size: 24px;
    font-weight: semibold;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.post-content {
    font-size: 14px;
}

.post-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: c;
    padding: 8px 2rem;
    margin-bottom: 8px;
}

.post-footer-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-icon {
    margin-right: 0.25rem;
}

.gray-text {
    margin-left: 0.2rem;
    color: #8E8E8E;
}

.green-text {
    margin-left: 0.2rem;
    color: #57DD79;
}

.post-detail {
    width: 60rem;
    
}

.post-contents {
    margin-bottom: 1rem;
}

.post-footer-text {
    margin-left: 0.2rem;
    font-size: 1rem;
    color: black;
}