.user-info-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 100%; /* 버튼 아래로 위치하도록 조절할 수 있습니다. */
    left: 0;
    background-color: white; /* 원하는 배경색으로 설정하세요 */
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
