.user-info-container {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 1rem;
}

.overlay {
    position: absolute;
    top: 105%; /* 버튼 아래로 위치하도록 조절할 수 있습니다. */
    right: 30%;
    left: -200%;
    background-color: white; /* 원하는 배경색으로 설정하세요 */
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: gray;
    z-index: 1;
}

.overlay-contents {
    margin-top: 0.75rem;
}

.user-info-button {
    margin-top: 0.25rem;
    display: flex;
    width: 2.6rem;
    height: 2.6em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 0 0 0.5px 0.5px solid #ccc;
}

.user-info-image {
    align-self: center;
}
